
.animasi:hover {

	transition: all 1s ease-out 0s;
	transform: scale(1.05,1.05);
}

.posisi-container-carousel {

	top: 140px
}

.pembatas-atas {

	height: 20px; 
	top: 120px
}

.pembatas-bawah {

	height: 20px; 
	top: 160px
}

@media only screen and (max-width: 576px) {

	.percobaan1 {

		width: 400px;
	}

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}

	.pembatas-atas {

		top: 135px;
	}

	.pembatas-bawah {

		height: 20px; 
		top: 175px
	}

	.posisi-container-carousel {

		top: 155px
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}

	.pembatas-atas {

		top: 135px;
	}

	.pembatas-bawah {

		height: 20px; 
		top: 175px
	}

	.posisi-container-carousel {

		top: 155px
	}	
}

/*@media only screen and (max-width: 891px) {

	.percobaan2 {

		display: none;
	}
}*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}

	.pembatas-atas {

		top: 135px;
	}

	.pembatas-bawah {

		height: 20px; 
		top: 175px
	}
 	
	.posisi-container-carousel {

		top: 155px
	}	
}

/*.box-model-satu {

	display: none;
}*/

/*.box-model-satu {

	display: block;
}

.box-model-dua {

	display: block;
}

.box-model-tiga {

	display: block;
}				*/

/*.box-model-satu {

	display: none;
}

.box-model-dua {

	display: block;
}

.box-model-tiga {

	display: none;
}					

@media only screen and (min-width: 386px) and (max-width: 410px) {

	.box-model-satu {

		display: block;
	}

	.box-model-dua {

		display: block;
	}

	.box-model-tiga {

		display: none;
	}					
}

@media only screen and (min-width: 425px) and (max-width: 471px) {

	.box-model-satu {

		display: none;
	}

	.box-model-dua {

		display: block;
	}

	.box-model-tiga {

		display: none;
	}			
}

@media only screen and (min-width: 472px) and (max-width: 478px) {

	.box-model-satu {

		display: block;
	}

	.box-model-dua {

		display: block;
	}

	.box-model-tiga {

		display: none;
	}		
}*/

/*@media only screen and (min-width: 479px) and (max-width: 576px) {

	.box-model-satu {

		display: none;
	}

	.box-model-dua {

		display: none;
	}

	.box-model-tiga {

		display: none;
	}		
}*/