/*.jumbotron {

	background-image: url('kapal_7.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}*/

@media only screen and (max-width: 891px) {

	.percobaan2 {

		display: none;
	}
}

.animasi:hover {

	transition: all 1s ease-out 0s;
	transform: scale(1.05,1.05);
}

@media only screen and (max-width: 576px) {

	.percobaan1 {

		width: 400px;
	}

	.percobaan3 {

		left: 80px
	}
}
