@media only screen and (max-width: 891px) {

	.percobaan2 {

		display: none;
	}
}

.animasi:hover {

	transition: all 1s ease-out 0s;
	transform: scale(1.05,1.05);
}

@media only screen and (max-width: 576px) {

	.percobaan1 {

		width: 400px;
	}

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

	.lebar-kolom-no {

		width: 40px;
	}

	.lebar-kolom-nama {

		width: 190px;
	}

	.lebar-kolom-tahun {

		width: 150px;
	}

	.lebar-kolom-spesifikasi {

		width: 190px;
	}

	.lebar-kolom-harga {

		width: 130px;
	}
}